<p>template works!</p>

<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" name="firstName" #fName="ngModel" [(ngModel)]="studentObj.firstName" class="form-control" required minlength="5">
      <div class="text-danger">
        @if(fName.touched && fName.errors?.['required']){
            <span>This is Requried.</span>
        }@else if (fName.touched && fName.errors?.['minlength']) {
            <span>Min 5 Char Requried</span>
        }
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" name="lastName" [(ngModel)]="studentObj.lastName" class="form-control" >
      
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend"></span>
        <input type="text" name="userName" [(ngModel)]="studentObj.userName" class="form-control">
        
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">City</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="studentObj.city">
      
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select class="form-select" name="state" [(ngModel)]="studentObj.state">
        <option selected disabled value="">Choose...</option>
        <option>Maharastra</option>
        <option>Goa</option>
        <option>Punjab</option>
        <option>Delhi</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input type="text" class="form-control" name="zip" [(ngModel)]="studentObj.zip">
      
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-secondary" type="button" (click)="resetFrom()">Rest Form</button>
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit form</button>
    </div>
  </form>