<nav class="navbar navbar-expand-sm bg-light">

    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav" style="margin-top: 50px;">
        <li class="nav-item nav-margin">
          <a class="nav-link" routerLink="emp-list">Employee List</a>
        </li>
        <li class="nav-item nav-margin">
          <a class="nav-link"routerLink="add-emp">Add Employee</a>
        </li>
        <li class="nav-item nav-margin">
          <a class="nav-link" routerLink="structural-dir">Structural Directive</a>
        </li>
        <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="data-binding">Data Binding</a>
          </li>
        <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="pipe">Pipe</a>
          </li>
          <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="template">forms</a>
          </li>
          <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="reactive">Reactive</a>
          </li>
          <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="get-api">Get API</a>
          </li>
          <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="post-api">Post API</a>
          </li>
          <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="life-cycle-event">Life Cycle Event</a>
          </li>
          <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="ng-template">Ng -Template</a>
           </li>
           <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="ng-container">Ng - Container</a>
           </li>
           <li class="nav-item nav-margin">
            <a class="nav-link" routerLink="view-child">View Child</a>
           </li>
      </ul>
    </div>
  
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>